.list {
  position: fixed;
  left: 20px;
  top: 100px;
}

.list-item {
  width: 120px;
  text-align: center;
  line-height: 36px;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 10px;

}

.border{
  border: 1px #666 solid;
}
.borderTOP {
  border-top: 1px #666 solid;
}

.borderRight {
  border-right: 1px #666 solid;}

.borderBottom {
  border-bottom: 1px #666 solid;}

.borderLeft {
  border-left: 1px #666 solid;
}
.list-item:hover{
  background-color: #666;
  color: #fff;
  cursor: pointer;
}